<!DOCTYPE html>

<html>
  <head>
    <%- contentFor('pageMeta') %>
    <%- include('../common/fragments/page-meta', { 
        title: 'Admin Bharatanatyam Arangetram',
        description: 'Bharatanatyam Arangetram of Thaarika on Sep 3, 2023. RSVP now.',
        keywords: 'Thaarika Bharatanatyam Arangetram',
    }) %>
    <%- contentFor('topHead') %>
</head>
<body>
    <div class="c-Container">
        <div class="c-Alldata">
            <% 
            if (typeof allData != null) {
                const participants = allData ? JSON.parse(allData) : [];
                for(let i = 0; i < participants.length ; i++) { 
                    const participant = participants[i];
            %>
                <div class="c-Item">
                    <div class="c-Item__sng c-item__name"><%= participant.name %></div>
                    <div class="c-Item__sng c-item__email"><%= participant.email %></div>
                    <div class="c-Item__sng c-item__guests"><%= participant.guests %></div>
                </div>
            <% } } %>
        </div>
    </div>
</body>
</html>