<!DOCTYPE html>
<html>
    <head>
        <%- contentFor('pageMeta') %>
        <%- include('../common/fragments/page-meta', { 
            title: 'Login to ZEROPERSK',
            description: 'Login to ZEROPERSK',
            keywords: 'Login to ZEROPERSK',
        }) %>
        <%- contentFor('topHead') %>
    </head>
    <body>
        <%- include('../common/fragments/navbar') %>
        <div class="c-Cred c-Cred--login o-Layout">
            <div class="c-Cred__body row">
                <div class="col-sm-12 col-md-4">
                    <figure class="c-Cred__logo">
                        <img class="mb-4" src="/images/zeroperks-title-logo.png" alt="zeroperks-logo">
                    </figure>
                    <div class="c-Cred__categories swiper">
                        <div class="swiper-wrapper">
                            <% 
                            const allCats = allCategories || [];
                            for(let i = 0; i < allCats.length ; i++) { 
                            const cat = allCats[i];
                            %>
                                <div class="c-Cred__cat swiper-slide">
                                    <div class="o-Icon-list"><i style="color: <%= cat.colorCode %>" class="<%= cat.icon %>"></i></div>
                                    <div class="c-Cred-cat__heading"><%= cat.name %></div>
                                    <a href="/category/<%= cat.url %>"><span class="o-Icon-bg"><i class="fas fa-chevron-right"></i></span> Learn More</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <ul class="c-Cred-form__header">
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login" class="active">Login</a></li>
                    </ul>
                    <form class="c-Cred__form" id="loginForm" action="/login" method="post" autocomplete="off">
                        <div class="o-Form__wrapper">
                            <input type="email" autocomplete="off" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                            <div class="o-Form__error">
                                <p class="required">Email is required.</p>
                                <p class="email">Invalid Email</p>
                            </div>
                        </div>
                        <div class="o-Form__wrapper">
                            <input type="password" autocomplete="off" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                            <div class="o-Form__error">
                                <p class="required">Password is required.</p>
                            </div>
                        </div>
                        <% if (typeof(error) != "undefined") { %>
                            <div class="o-Form__server-error">
                                <p>Email ID or Password did not match please try again.</p>
                            </div>
                        <% } %>
                        <button class="c-Comment-form__btn" id="signin-btn" type="button">Sign in <i class="fas fa-sign-in-alt"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>