<!DOCTYPE html>
<html>
    <head>
        <%- contentFor('pageMeta') %>
        <%- include('../common/fragments/page-meta', { 
            title: 'Topics in ZEROPERSK',
            description: 'Browse more topics in ZEROPERSK',
            keywords: 'Topics in ZEROPERSK',
        }) %>
        <%- contentFor('topHead') %>
    </head>
    <body>
        <%- include('../common/fragments/navbar') %>
        <main>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <% 
                    const featuredBlogs = allBlogs ? JSON.parse(allBlogs) : [];
                    for(let i = 0; i < featuredBlogs.length ; i++) { 
                    const blog = featuredBlogs[i];
                    %>
                <div class="swiper-slide">
                    <div class="c-Topics__slide" style="background-image: url('<%= aclPort+blog.heroImage.url %>');">
                        <div class="o-Layout">
                            <p><%= blog.categories[0].name %></p>
                            <h1><%= blog.title %></h1>
                            <a href="/post/<%- blog.url %>" class="o-Btn-line o-Btn-line--black o-Btn--icon">Read Article <span class="o-Icon-bg"><i class="fas fa-chevron-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <% } %>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

            <div class="o-Layout c-Topics__categories">
                <h2 class="c-Topics__title">Topics To Cherish</h2>
                <div class="c-Topics__sec">
                    <% 
                    const allCats = allCategories || [];
                    for(let i = 0; i < allCats.length ; i++) { 
                    const cat = allCats[i];
                    %>
                        <div class="c-Topics__cat" style="background-color: <%= cat.rgba %>;">
                            <div class="o-Icon-list"><i style="color: <%= cat.colorCode %>" class="<%= cat.icon %>"></i></div>
                            <div class="c-Topics-cat__heading"><%= cat.name %></div>
                            <a href="/category/<%= cat.url %>"><span class="o-Icon-bg"><i class="fas fa-chevron-right"></i></span> Learn More</a>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="o-Layout c-Topics__categories">
                <h2 class="c-Topics__title">Latest Articles</h2>
                <div class="c-Topics__lt-articles">
                    <% 
                    const articles = allBlogs ? JSON.parse(recentArticles) : [];
                    for(let i = 0; i < articles.length ; i++) { 
                    const article = articles[i];
                    %>
                    <div class="c-Topics-art">
                        <figure class="c-Topics-art__fig" style="background-image: url('<%= aclPort+article.heroImage.url %>')"></figure>
                        <div class="c-Topics-art__body">
                            <a href="/category/<%= article.categories[0].url %>" style="text-decoration:none;color: <%= article.categories[0].colorCode %>">
                                <span class="c-Topics-art-body__cat"><%= article.categories[0].name %></span>
                            </a>
                            <div class="c-Topics-art-body__title"><%= article.title && article.title.length < 93 ? article.title : (article.title.substring(0,90)+'..') %></div>
                            <div class="c-Topics-art-body__date"><%= new Date(article.createdAt).toString().substring(0,15) %></div>
                            <a href="/post/<%- article.url %>" class="o-Btn-line o-Btn-line--black o-Btn--icon">Read Article <span class="o-Icon-bg"><i class="fas fa-chevron-right"></i></span></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>