<!DOCTYPE html>
<html>
    <head>
        <%- pageMeta %>
        <%- include('./common/fragments/headers')%>
        <%- topHead %>
    </head>
    <body>
        <%- body %>
        <%- script %>
        <%- include('./common/fragments/footer')%>
    </body>
</html>