<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link rel="shortcut icon" href="/images/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="og:title" content="<%= title %>">
<meta name="og:description" content="<%= description %>">
<meta name="og:image" content="<%= origin+'/images/og-images/og-wide.jpg' %>">
<meta name="og:image" content="<%= origin+'/images/og-images/thumb.jpg' %>">
<% if (typeof image != 'undefined') { %>
<meta name="og:image" content="<%= aclPort + image %>">
<% } %>
<% if (typeof ogWide != 'undefined') { %>
    <meta name="og:image" content="<%= origin + ogWide %>">
<% } %>
<% if (typeof ogSquare != 'undefined') { %>
    <meta name="og:image" content="<%= origin + ogSquare %>">
<% } %>
<% if (typeof ogOtSquare != 'undefined') { %>
    <meta name="og:image" content="<%= aclPort + ogOtSquare %>">
<% } %>